
<p style="font-family:Verdana;  font-size: 22px">@Html.ActionLink("Перевод организации", "Organization", "Transaction")</p>

<p style="font-family:Verdana;  font-size: 22px">@Html.ActionLink("Перевод частному лицу", "Person", "Transaction")</p>

<p style="font-family:Verdana;  font-size: 22px">@Html.ActionLink("Пополнить счет мобильного телефона", "Phone", "Transaction")</p>

<p style="font-family:Verdana;  font-size: 22px">@Html.ActionLink("Перевод между своими счетами", "Internal", "Transaction")</p>
