@{
    ViewBag.Title = "Наши отделения";
}
<h2>@ViewBag.Title.</h2>
<h3>На карте:</h3>


<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1J5rVbcgYWKxyVDgi0vVgFBzrQeoR3BQo" width="1000" height="450"></iframe>
<p></p>
