
@{
    ViewBag.Title = "QA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вопросы и ответы</h2>
<strong>В: Как сделать заказ?</strong>
<p>О: Зарегистрироваться и нажать кнопку "Забронировать номер". Выбрать доступный номер и завершить заказ.</p>

<strong>В: Насколько долго можно забронировать номер? </strong>
<p>О: Не более 30 дней.</p>

<strong>В: Какое количество действующих броней можно иметь?</strong>
<p>О: Не более двух, при этом они должны быть в разные сроки.</p>

<strong>В: Что значит действующая бронь?</strong>
<p>О: Это значит что если, например, Вы заселились в наш отель 5 марта, а сегодня 10 марта, то бронь является действующей. Также все будущие брони считаются действующими. Остальные брони уже не считаются актуальными.</p>

